In [1]:
import pandas as pd

In [145]:
ncd = pd.read_excel("data_ncd.xlsx")
overweight = pd.read_excel("data_overweight.xlsx")
underweight = pd.read_excel("data_underweight.xlsx")
water = pd.read_excel("data_water.xlsx")
pollution = pd.read_excel("data_pollution.xlsx")

raised_cholesterol = pd.read_excel("data_raised_cholesterol.xlsx")
fasting_blood = pd.read_excel("data_fasting_blood.xlsx")
raised_bp = pd.read_excel("data_raised_bp.xlsx")
phys_activity = pd.read_excel("data_phys_activity.xlsx")
population = pd.read_csv("population.csv")

In [146]:
ncd

          country                                disease         sex  deaths
0     Afghanistan                    Malignant neoplasms  Both sexes   19965
1     Afghanistan                    Malignant neoplasms        Male   10702
2     Afghanistan                    Malignant neoplasms      Female    9263
3     Afghanistan                      Diabetes mellitus  Both sexes    7056
4     Afghanistan                      Diabetes mellitus        Male    2437
...           ...                                    ...         ...     ...
2191     Zimbabwe                Cardiovascular diseases        Male    5480
2192     Zimbabwe                Cardiovascular diseases      Female    8704
2193     Zimbabwe  Chronic obstructive pulmonary disease  Both sexes    2970
2194     Zimbabwe  Chronic obstructive pulmonary disease        Male    1345
2195     Zimbabwe  Chronic obstructive pulmonary disease      Female    1625

[2196 rows x 4 columns]

In [147]:
it1 = ncd.merge(overweight)
it2 = it1.merge(underweight)
it3 = it2.merge(water)
it4 = it3.merge(population)
it5 = it4.merge(pollution)
it6 = it5.merge(raised_cholesterol)
it7 = it6.merge(fasting_blood)
it8 = it7.merge(raised_bp)
it9 = it8.merge(phys_activity)
data = it9
# it5.to_csv("full_data.csv", index=False)

In [148]:
# data = pd.read_csv('full_data.csv')
data = data.dropna()

In [149]:
data.loc[data['sex']=='Female', 'population'] = data.loc[data['sex']=='Female', 'population']/2
data.loc[data['sex']=='Male', 'population'] = data.loc[data['sex']=='Male', 'population']/2

In [150]:
data.head()

,country,disease,sex,deaths,overweight,underweight,water,population,pollution,raised_cholesterol,fasting_blood,raised_bp,phys_activity
0,Algeria,Malignant neoplasms,Male,12619,19.4,3.6,93.52,20303.0,35.17,36.6,12.3,25.4,26.92
1,Algeria,Diabetes mellitus,Male,3985,19.4,3.6,93.52,20303.0,35.17,36.6,12.3,25.4,26.92
2,Algeria,Cardiovascular diseases,Male,34779,19.4,3.6,93.52,20303.0,35.17,36.6,12.3,25.4,26.92
3,Algeria,Chronic obstructive pulmonary disease,Male,3471,19.4,3.6,93.52,20303.0,35.17,36.6,12.3,25.4,26.92
4,Algeria,Malignant neoplasms,Female,12547,34.0,3.7,93.52,20303.0,35.17,40.5,12.6,24.6,40.25

In [151]:
data['ncd_deaths'] = data['deaths']/data['population']
data['underweight_pc'] = data['underweight']/100*data['population']
data['overweight_pc'] = data['overweight']/100*data['population']
data['water_pc'] = data['water']/100*data['population']
data['pollution_pc'] = data['pollution']/100*data['population']
data['raised_cholesterol_pc'] = data['raised_cholesterol']/100*data['population']
data['fasting_blood_pc'] = data['fasting_blood']/100*data['population']
data['raised_bp_pc'] = data['raised_bp']/100*data['population']
data['phys_activity_pc'] = data['phys_activity']/100*data['population']


data['pollution'] = data['pollution_pc']*1000/data['population']
data['underweight'] = data['underweight_pc']*1000/data['population']
data['overweight'] = data['overweight_pc']*1000/data['population']
data['water'] = data['water_pc']*1000/data['population']
data['raised'] = data['raised_cholesterol_pc']*1000/data['population']
data['fasting'] = data['fasting_blood_pc']*1000/data['population']
data['raised_bp'] = data['raised_bp_pc']*1000/data['population']
data['phys_activity'] = data['phys_activity_pc']*1000/data['population']

In [152]:
final_data = data[['country','sex','disease','ncd_deaths','underweight','overweight','water','pollution',
                   'raised_cholesterol','fasting_blood','raised_bp','phys_activity']]

In [153]:
final_data.to_csv('full_data.csv', index=False)

In [155]:
data['deaths'].sum()

31044122